<div class="jumbotron">
    <h1 class="display-4">NASA</h1>
    <p class="lead">Space stuff</p>
    <!-- Search form -->
    <input id="user-text" class="form-control" type="text" placeholder="Search the universe..." aria-label="Search">
    <button id="search-btn" class="btn btn-primary">Enter</button>
</div>

<body class="body">

<%= yield %>

<div class="container">
<label>

</label>
</div>

<div>
<button type="button" id="loadmore" class="btn btn-secondary">Load More</button>
</div>

<script>
    var button= document.getElementById('loadmore')
    button.addEventListener('click', hideshow, false);

    function hideshow() {
        document.getElementById('loadmore').style.display = 'block';
        this.style.display = 'none'
    };
</script>

</body>
</html>