<h1>Planets</h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/mercury.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Planet 1</h5>
    <p class="card-text">Planet details</p>
  </div>
</div>