@import "bootstrap";

.body {
  background-image: url(spacebackground.jpg);
  background-attachment: fixed;
}

.jumbotron
{
  background-color:#2e2e2e!important;
  color: white;
  text-align: center;
  width: 1000px;
  margin: auto;
}

#user-text {
  width: 500px;
  margin: auto;
  padding-bottom: 5px;
}

#search-btn {
  margin-top: 10px;
}

.nav-item {
  padding: 5px;
  text-color: black;
}

.column {
  width: 50%;
  padding: 10px;
}


img {
  max-width: 300px;
  height: auto;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  position: relative;
  border:1px solid white;
  // opacity: 0.2;
  text-color: white;
}


.container {
  padding: 1em;
  column-count: 3;
  text-color: white;
}

@media(max-width: 800px) {
  .container {
    column-count: 3;
  }
}

@media(max-width: 600px) {
  .container {
    column-count: 2;
  }
}

@media(max-width: 400px) {
  .container {
    column-count: 1;
  }
}

#des {
  text-align: center;
  font-weight: normal;
  width: 100%;
  margin: 0px;
  visibility:hidden;
}

#loadmore {
  margin: center;
}

p {
  color: white;
}